<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:insert="common/header.html" id="header"></div>
 	<form action="/gptanswer" method="post">
 		<table border="1" align="center">
 			<tr>
 				<th>뭐든 물어보세요</th>
 				<td><input type="text" name="question"></td>
 			</tr>
 			<tr>
 				<td><input type="submit" value="질문하기"></td>
 			</tr>
 		</table>
 		<input type=hidden name="where" th:value="${where}">
    </form>
</body>
</html>